@import "tailwindcss";
@plugin "daisyui" {
  themes: emerald --default, dracula --prefersdark;
}
@source inline("badge{-primary,-secondary,-info,-accent,-success,-warning,-error,-xs,-sm,-md,-lg,-xl,-outline}");
@source inline("alert{-primary,-secondary,-info,-accent,-success,-warning,-error,-xs,-sm,-md,-lg,-xl,-outline}");
html {
  font-family: "DM Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Urbanist", sans-serif;
}
.hljs {
  background: none !important;
}
pre code.hljs {
  display: inline !important;
  padding: 0 !important;
}
li > div {
  display: inline;
}
.alingleft {
  text-align: left !important;
}
.ul {
  background: url("favicon-16x16.png") no-repeat left top;
  /* height: 34px;
  padding-top: 7px;
  padding-left: 44px; */
}
